body {
    background-color: #f7f7f7;
}

li {
    list-style-type: none;
}

.top-block {
    background: #ffffff url(../images/backgrounds/background_1.png) no-repeat;
}

.menu__logotype {
    font: 26px "Lora";
    color: #ffffff;
    text-decoration: none;
}

.menu__item {
    font: 12px "Oxygen";
    color: #ffffff;
    text-decoration: none;
}

.top-block__title {
    font: 50px "Lora";
    color: #ffffff;
}

.top-block__subtitle {
    font: 17px "Oxygen";
    color: rgba(255, 255, 255, 0.63);
}

.top-block__button {
    background: #dd783f;
    border-radius: 3px;
    border: none;
}

.top-block__button-text {
    font: 13px "Oxygen";
    color: #ffffff;
}

.navigation_block__items {
    margin: 0;
}

.navigation_block__item {
    font: 14px "Lora";
    text-decoration: none;
    color: #768088;
}

.featured-posts__title {
    font: 20px "Oxygen";
    color: #2e2e2e;
}

.featured-post__feature {
    font: 12px "Oxygen";
    background: #dd783f;
    border-radius: 2px;
}

.featured-post__title {
    font: 27px "Lora";
    color: #ffffff;
}

.featured-post__subtitle {
    font: 14px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
}

.featured-post__author {
    font: 12px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
}

.featured-post__date {
    font: 12px "Oxygen";
    color: rgba(255, 255, 255, 0.7);
}

.featured-posts__featured-post_the-road-ahead {
    background: #ffffff url(../images/backgrounds/the_road_ahead.png);
    background-repeat: no-repeat;
}

.featured-posts__featured-post_from_top_down {
    background: #ffffff url(../images/backgrounds/from_top_down.png);
    background-repeat: no-repeat;
}

.most-recent-posts__title {
    font: 20px "Oxygen";
    color: #2e2e2e;
}

.recent-post__title-box {
    background: #ffffff;
}

.recent-post__title {
    font: 16px "Lora";
    color: #101315;
}

.recent-post__subtitle {
    font: 13px "Oxygen";
    color: #7a7a7a;
}

.recent-post__author-box {
    background: #ffffff;
}

.recent-post__author {
    font: 11px "Oxygen";
    color: #999999;
}

.recent-post__date {
    font: 11px "Oxygen";
    color: #999999;
}

.bottom-block {
    background: #ffffff url(../images/backgrounds/background_2.png);
    background-repeat: no-repeat;
}

.bottom-block__logotype {
    font-family: 26px "Lora";
    text-decoration: none;
    color: #ffffff;
}

.bottom-navigation__item {
    font: 11px "Oxygen";
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}