<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>
            {{ .Title }}
        </title>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <link rel="stylesheet" type="text/css" href="static/css/main.css" /> 
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora&family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="header__container">
                    <a href="#" class="header__logo">
                        <img src="static/images/escape_white.svg" alt="Логотип">
                    </a>
                    <nav class="header__menu menu">
                        <ul class="menu__list">
                            <li class="menu__item"><a href="#" class="menu__link">HOME</a></li>
                            <li class="menu__item"><a href="#" class="menu__link">CATEGORIES</a></li>
                            <li class="menu__item"><a href="#" class="menu__link">ABOUT</a></li>
                            <li class="menu__item"><a href="#" class="menu__link">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div class="main">
                <div class="top-block">
                    <div class="top-block__title-block">
                        <div class="title-block__container">
                            <span class="title-block__title">
                                {{ .Title }}
                            </span>
                            <span class="title-block__subtitle">
                                {{ .Subtitle }}
                            </span>
                            <div class="top-block__button">
                                <a href="#" class="button">View Latest Posts</a>
                            </div>
                        </div>
                    </div>
                    <img src="static/images/background_1.png" alt="background" class="top-block__wallpaper">
                </div>
                <div class="main-menu">
                    <nav class="main-menu__container">
                        <ul class="main-menu__list">
                            <li class="main-menu__item"><a href="#" class="main-menu__link">Nature</a></li>
                            <li class="main-menu__item"><a href="#" class="main-menu__link">Photography</a></li>
                            <li class="main-menu__item"><a href="#" class="main-menu__link">Relaxation</a></li>
                            <li class="main-menu__item"><a href="#" class="main-menu__link">Vacation</a></li>
                            <li class="main-menu__item"><a href="#" class="main-menu__link">Travel</a></li>
                            <li class="main-menu__item"><a href="#" class="main-menu__link">Adventure</a></li>
                        </ul>
                    </nav>
                </div>
                <section class="section">
                    <article class="featured-posts">
                        <div class="article-text-block">
                            <span class="article-text-block__text">Featured Posts</span>
                            <div class="article-text-block__line"></div>
                        </div>
                        <div class="featured-posts__content">
                            {{ range .FeaturedPosts }}
                                <div class="featured-post">
                                    <img src="{{ .BackgroundImg }}" alt="{{ .Background }}" class="featured-post__background">
                                    <div class="featured-post__info">
                                        <div class="featured-post__feature {{ .FeatureModifier }}">{{ .Feature }}</div>
                                        <span class="featured-post__title">{{ .Title }}</span>
                                        <span class="featured-post__subtitle">{{ .Subtitle }}</span>
                                        <div class="featured-post__author-box">
                                            <img src="{{ .AuthorImg }}" alt="{{ .Author }}" class="featured-post__author-photo">
                                            <span class="featured-post__author">{{ .Author }}</span>
                                            <span class="featured-post__data">{{ .PublishDate }}</span>
                                        </div>
                                    </div>
                                </div>
                            {{ end }}
                        </div>
                    </article>
                    <article class="most-recent">
                        <div class="article-text-block">
                            <span class="article-text-block__text">Most Recent</span>
                            <div class="article-text-block__line"></div>
                        </div>
                        <div class="most-recent-posts">
                            {{ range .MostRecentPosts }}
                                <div class="most-recent-post">
                                    <img src="{{ .ImageSrc }}" alt="{{ .Image }}" class="most-recent-post__image">
                                    <div class="most-recent-post__line most-recent-post__line_#E5E5E5"></div>
                                    <div class="most-recent-post__title-block">
                                        <span class="most-recent-post__title">{{ .Title }}</span>
                                        <span class="most-recent-post__subtitle">{{ .Subtitle }}</span>
                                    </div>
                                    <div class="most-recent-post__line most-recent-post__line_#EFEFEF"></div>
                                    <div class="most-recent-post__author-box">
                                        <img src="{{ .AuthorImg }}" alt="{{ .Author }}" class="most-recent-post__author-photo">
                                        <span class="most-recent-post__author">{{ .Author }}</span>
                                        <span class="most-recent-post__data">{{ .PublishDate }}</span>
                                    </div>
                                </div>
                            {{ end }}
                        </div>
                    </article>
                </section>
            </div>
            <div class="bottom-block">
                <img src="static/images/background_2.png" alt="Background" class="bottom-block__background">
                <div class="bottom-box">
                    <div class="bottom-block__bottom-container">
                        <div class="bottom-block__title-block">
                            <span class="bottom-container__title">Stay in Touch</span>
                            <div class="bottom-container__line"></div>
                        </div>
                        <form action="#" class="bottom-container__form-block form-block" name="email-form">
                            <input type="email" class="form-block__input" maxlength="256" name="email" placeholder="Enter your email address">
                            <input type="submit" class="form-block__submit-button" value="Submit">
                        </form>
                    </div>
                    <div class="footer-line"></div>
                    <footer class="footer">
                        <div class="footer__container">
                            <a href="" class="footer__logo">
                                <img src="static/images/escape_white.svg" alt="Логотип">
                            </a>
                            <nav class="footer__menu">
                                <ul class="footer-menu__list">
                                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">HOME</a></li>
                                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">CATEGORIES</a></li>
                                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">ABOUT</a></li>
                                    <li class="footer-menu__item"><a href="#" class="footer-menu__link">CONTACT</a></li>
                                </ul>
                            </nav>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </body>
</html>